---
layout: compress
---
<!DOCTYPE HTML>
{% include navlang.html %}
<html lang="{{ navlang }}">
{% include head.html %}

<body>
    <!-- Wrapper -->
    {% unless page.lang %}
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
        $(function () {
                var userLang = navigator.language || navigator.userLanguage;
                if ((userLang[0] == "vi")) {
                    window.location.href = "{{ site.url }}/vi/"
                }
                else {
                    window.location.href = "{{ site.url }}/en/"
                }
            });
    </script>
    {% endunless %}
</body>

</html>